### OSX ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

###ed anche
*.bak
*.log
/tts/**/*
.DS_Store
OZW_Log.txt
._.DS_Store
known_devices.yaml
/certbot/**
secrets.yaml
*.xml
*.sqlite
phue.conf
.uuid
cameras.yaml.streamHomeAssistant
*.yaml~
__pycache__
/custom_components/bynary_sensor/__pycache__/*
/custom_components/sensor/__pycache__
/custom_components/switch/__pycache__

